<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/styles/home.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
        
        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

        </style>
    <title>Home</title>
</head>
<body>
    <div class="h1">
    <h1>GitSumCoffee</h1>
    </div>

    <div class="navlinks">
    <a href="/login">Login</a> 
    <a href="/signup">Sign Up</a>
    </div>
    
    <div class="lofi">
        <a href="https://www.youtube.com/watch?v=-5KAN9_CzSA" class="share__icon--youtube">
        <i class="fab fa-youtube"></i>
    </a>
    </div>

    <form action="/login" method=POST>
    <input type="hidden" name="email" value="guestuser">
    <input type="hidden" name="password" value="test1234">
    <input type="submit" value="Continue as Guest">
    </form>

    <div class="images">
        <img src='https://media.giphy.com/media/vja3eL2uSMKWs/giphy.gif' alt="coffee" width="250px" height="150px">
        <img src='https://media.giphy.com/media/12OZlHgyEZZHRm/giphy.gif' alt="coffee" width="250px" height="150px">
        <img src='https://media.giphy.com/media/9uIxmnknkXCDzNF0HY/giphy.gif' alt="coffee" width="250px" height="150px">
    </div>

</br>
</br>
    <img class='big-img'src="https://www.goodfreephotos.com/cache/food/food297.jpg" 
    alt="french press" width="600px" height="400px">


</br>
</br>
    <section>
        <p>
            In 2021, GitSumCoffee was founded by Joshua Daos and Lesley Sauter.<br>
            From long nights and days at GA a vision was birthed to stay awake during our cohort. <br>
            In order stay energized through extensive lectures, our peers need to stay caffeinated!<br>
            GitSumCoffee was made in order to supply our daily needs to our students.
        </p>
    </section>

    <div class="josh">
        <h4>Josh:</h4>
    <a href="https://www.linkedin.com/in/joshua-daos/" class="share__icon--linkedin">
        <i class="fab fa-linkedin"></i>
    </a>

    <a href="https://git.generalassemb.ly/joshdaos" class="share__icon--github">
        <i class="fab fa-github"></i>
    </a>
    
    </div>

    <div class="lesley">
        <h4>Lesley:</h4>
    <a href="https://www.linkedin.com/in/lesley-sauter-45372437/" class="share__icon--linkedin">
        <i class="fab fa-linkedin"></i>
    </a>

    <a href="https://git.generalassemb.ly/lesleysauter" class="share__icon--github">
        <i class="fab fa-github"></i>
    </a>
    </div>




</body>
</html>