<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/styles/home.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
        
        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

        @import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
        </style>
    <title>Home</title>
</head>
<body>
    <nav id="navbar" class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item">
                GitSumCoffee
            </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a href="/" class="navbar-item">
              Home
            </a>
      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  About
                </a>
                <a class="navbar-item">
                  Coffee
                </a>
                <a class="navbar-item">
                  Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <form action="/login" method=POST>
                    <input class="navbar-item" type="hidden" name="email" value="guestuser">
                    <input class="navbar-item" type="hidden" name="password" value="test1234">
                    <input class="navbar-item"type="submit" value="Guest">
                </form>
                <a href="/signup" class="navbar-item">
                  <strong>Sign up</strong>
                </a>
                <a href="/login" class="navbar-item">
                    Login
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <ul>
        <li><a href="/">GitSumCoffee</a></li>
        <li><a  href="/products/bestsellers">Coffee</a></li>
        <li><a href="#contact">Contact</a></li>
        <li style="float:right">
        <form action="/login" method=POST>
            <input type="hidden" name="email" value="guestuser">
            <input type="hidden" name="password" value="test1234">
            <input type="submit" value="Guest">
        </form>
        </li>
        <li style="float:right"><a class="active" href="/signup">Signup</a></li>
        <li style="float:right"><a class="active" href="/login">Login</a></li>
      </ul>

</body>
</html>