<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
        
        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

        </style>
    <title>Home</title>
</head>
<body>

    <h1>GitSumCoffee</h1>
    
    <div>
    <a href="/login">Login</a> 
    <a href="/signup">Sign Up</a>
    </div>
    <form action="/login" method=POST>
    <input type="hidden" name="email" value="guestuser">
    <input type="hidden" name="password" value="test1234">
    <input type="submit" value="Continue as Guest">
    </form>

</br>
</br>
    <img src="https://www.goodfreephotos.com/cache/food/food297.jpg" 
    alt="french press" width="600px" height="400px">


</br>
</br>
    <section>
        <p>
            In 2021, GitSumCoffee was founded by Joshua Daos and Lesley Sauter.
        </p>
    </section>
</body>
</html>