<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
        
        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

        </style>
    <title>Home</title>
</head>
<body>

    <h1>GitSumCoffee</h1>
    
    <div>
    <a href="/login">Login</a> 
    <a href="/signup">Sign Up</a>
    </div>
    <form action="/login" method=POST>
    <input type="hidden" name="email" value="guestuser">
    <input type="hidden" name="password" value="test1234">
    <input type="submit" value="Continue as Guest">
    </form>
    <div>
        <img src='https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y29mZmVlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60' alt="coffee" width="250px" height="150px">
        <img src='https://images.unsplash.com/photo-1459755486867-b55449bb39ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fGNvZmZlZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60' alt="coffee" width="250px" height="150px">
        <img src='https://images.unsplash.com/photo-1500353391678-d7b57979d6d2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDV8fGNvZmZlZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60' alt="coffee" width="250px" height="150px">
    </div>

</br>
</br>
    <img class='big-img'src="https://www.goodfreephotos.com/cache/food/food297.jpg" 
    alt="french press" width="600px" height="400px">


</br>

    <section>
        <p>
            In 2021, GitSumCoffee was founded by Josh Daos and Lesley Sauter.<br>
            From long nights and days at GA a vision was birthed to stay awake during our cohort. <br>
            In order to stay energized through extensive lectures, our peers need to stay caffeinated!<br>
            GitSumCoffee was created to provide a platform for our students when their energy is low.
        </p>
    </section>
</body>
</html>