* {
    box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: linear-gradient(
		rgba(60, 20, 20, 0.45), 
		rgba(1140, 18, 10, 0.1)
	  ), url('https://images.unsplash.com/photo-1523063308874-cecc260a3171?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjUwfHxjb2ZmZSUyMGJlYW5zfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=700&q=60');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 99vh;
}

h1 {
	font-family: 'Dancing Script', cursive;
	background-color: rgba(0, 0, 0, 0.3);
	border-bottom: 5px solid #f7f6e7;	
	color: #f7f6e7;
	text-align:left;
	margin: 10px;
	border-radius: 5px;
}

a {
	font-family: 'Nunito', sans-serif;
	text-align: center;
	font-size: 20px;
	color: #f7f6e7;
	padding: 10px;
	text-decoration: none;
	margin: 15px;
}

div {
	text-align: center;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

li {
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
	list-style: none;
	text-align: center;
	color: #f7f6e7;
	cursor: default;
	float: left;
	display: inline; 
	margin: 30px;
}

.horizontal-display {
	display: table;
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 690px;
	list-style: none;

}

ul#horizontal-list li {
	display: inline;
}

img {
	border-radius: 5px;
}

input {
	text-align: center;
}