/* 
314e52 - dark green
f2a154 - orange
f7f6e7 - cream
e7e6e1 - gray
*/
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-color: #f7f6e7;
	text-align: center;
}

h1 {
	font-family: 'Dancing Script', cursive;
	color: #314e52;
	background-color: #e7e6e1;
	border-bottom: 5px solid #314e52;
	text-align:left;
}

h2 {
	font-family: 'Nunito', sans-serif;
	color: #314e52;
	text-align:left;
}

a, p, input {
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
}

li {
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	list-style: none;
}

ul {
	background-color: cornsilk;
	width: 300px;
	border: 10px solid 314e52;
	padding: 50px;
	margin: 20px;
	box-shadow: 5px 5px 15px 5px #314e52;
}