/* 
#314e52 - dark green
#f2a154 - orange
#f7f6e7 - cream
#e7e6e1 - gray
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background: linear-gradient(
		rgba(7, 2, 2, 0.45), 
		rgba(1140, 18, 10, 0.1)
	  ), url('https://images.unsplash.com/photo-1513528916469-746b1cf609e2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
	/* min-height: 99vh;   */
	/* display: flex; */
	/* flex-direction: column; */
}

h1 {
	font-family: 'Dancing Script', cursive;
	background-color: rgba(0, 0, 0, 0.3);
	color: #f7f6e7;
	font-size: 40px;
	border-bottom: 5px solid #f7f6e7;	
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	cursor: default;
	display: inline;
	margin-right: auto;
}

.h1{
	text-align: left;
}

a, div, p {
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	padding: 10px;
	text-decoration: none;
	color: #f7f6e7;
	/* justify-content: center; */
}

a {
	font-size: 25px;
	color: #f7f6e7;
	text-align: center;
	/* justify-content: center; */
}

a:hover {
	text-decoration: underline;
}

p {
	background: rgba(45, 44, 44, 0.7);
	position: inherit; 
	font-size: 18px;
	font-family: 'Nunito', sans-serif;
	color: #f7f6e7;
}

div {
	text-align: center;
}

form { 
	text-align: center;
	font-size: 25px;
}


.images {
	text-align: center;
}

input {
	font-family: 'Nunito', sans-serif;
	color: #025955;
	font-size: 15px;
	border: 2px solid #314e52;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	padding: 12px;
	
}

.big-img {
	/* box-shadow: 5px 5px 15px 5px #314e52; */
	border-radius: 5px;
	border: 20px solid #f7f6e7;
	display: block; 
  	margin-left: auto; 
  	margin-right: auto;
}

img {
	padding: 5px;
	border: 3px solid #f7f6e7;
	/* display: inline-block;
  	margin-left: auto;
  	margin-right: auto;  */
}

section {
	font-weight: 700;
	text-align: center;
}

.josh {
	text-align: left;
	float: left;
	display: inline;
}

.lesley {
	text-align: left;
	float: left;
	display: inline;
}

h4 {
	text-align: center;
}