@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
	box-sizing: border-box;
}

body {
	/* margin: 0;
	padding: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;  */
	background-color: #353535;
}

#navbar {
	background-color: rgb(247, 220, 131);
	color: white;
	height: 20px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover:not(.active) {
	background-color: #111;
  }
  
  /* .active {
	background-color: #04AA6D;
  } */