/* 
314e52 - dark green
f2a154 - orange
f7f6e7 - cream
e7e6e1 - gray
*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: linear-gradient(
		rgba(60, 20, 20, 0.45), 
		rgba(1140, 18, 10, 0.1)
	  ), url('https://images.unsplash.com/photo-1551610290-e153ec567dd8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1213&q=80');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 99vh;
}

h2 {
	font-family: 'Nunito', sans-serif;
	font-size: 28px;
	color: #f7f6e7;
	text-align: left;
	margin: 15px;
	padding:20px;
	cursor: default;
}

h3 {
	font-family: 'Dancing Script', cursive;
	font-size: 28px;
	color: #f7f6e7;
	text-align: center;
	cursor: default;
	
}

a {
	font-family: 'Nunito', sans-serif;
	text-align: center;
	font-size: 20px;
	color: #f7f6e7;
	padding: 10px;
	text-decoration: none;
	margin: 15px;
}

div {
	text-align: center;
	color: #025955;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}


li {
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
	list-style: none;
	text-align: center;
	color: #f7f6e7;
	cursor: default;
	float: left;
	display: inline; 
	margin: 30px;
}

h1 {
	font-family: 'Dancing Script', cursive;
	background-color: #f7f6e7;
	color: #025955;
	font-size: 30px;
	text-align: left;
	border-bottom: 5px solid #314e52;	
	border-radius: 5px;
	cursor: default;
	margin: 10px;
	padding-inline: 10px;
	cursor: default;
	display: inline;
	margin-right: auto;
	display: flex;
  	justify-content: flex-start;
  	flex-wrap: wrap;
}

img {
	border-radius: 5px;
}

