/* 
314e52 - dark green
f2a154 - orange
f7f6e7 - cream
e7e6e1 - gray
*/

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-color: rgb(255, 211, 146);
	text-align: center;
}

h1 {
	font-family: 'Dancing Script', cursive;
}

a {
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
}

li {
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	list-style: none;
}