/* 
314e52 - dark green
f2a154 - orange
f7f6e7 - cream
e7e6e1 - gray
*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #f7f6e7;
}

h1 {
	font-family: 'Dancing Script', cursive;
	color: #314e52;
	background-color: #e7e6e1;
	border-bottom: 5px solid #314e52;
}

a {
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
}

li {
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	list-style: none;
}