* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: linear-gradient(
		rgba(7, 2, 2, 0.45), 
		rgba(1140, 18, 10, 0.1)
	  ), url('https://wallpaperaccess.com/full/2389927.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
}

h1, h2 {
	font-family: 'Dancing Script', cursive;
	color: #314e52;
	cursor: default;
}

h1 {
	font-family: 'Dancing Script', cursive;
	background-color: #f7f6e7;
	color: #025955;
	font-size: 30px;
	text-align: left;
	border-bottom: 5px solid #314e52;	
	border-radius: 5px;
	margin: 10px;
	padding-inline: 10px;
	cursor: default;
	display: inline;
	margin-right: auto;
	
}

h2 {
	text-align: center;
	font-size: 26px;
	color: #f7f6e7;
	text-align: center;
}


p, input, h3 {
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	cursor: default;
	color: #f7f6e7;
	text-align: center;
}

input {
	color: #025955;
	text-align: center;
}

form {
	text-align: center;
}

a {
	font-family: 'Nunito', sans-serif;
	color: #f7f6e7;
	text-decoration: none;
	font-size: 18px;
	text-align: center;
	margin: 10px;
}

a:hover, input:hover {
	text-decoration: underline;
	cursor: pointer;
}

img {
	border-radius: 5px;
	text-align: center;
}

li {
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	list-style: none;
	color: #f7f6e7;
	text-align: center;
}
