* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f7f6e7;
	text-align: center;
}

h1, h2 {
	font-family: 'Dancing Script', cursive;
	color: #314e52;
	cursor: default;
}

h1 {
	text-align: left;
	border-bottom: 5px solid #314e52;
	background-color: #e7e6e1;
	margin: 10px;
}

h2 {
	text-align: center;
}


p, input, h3 {
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	cursor: default;
}

a {
	font-family: 'Nunito', sans-serif;
	color: #314e52;
	text-decoration: none;
	font-size: 18px;
}

a:hover, input:hover {
	text-decoration: underline;
	cursor: pointer;
}

img {
	border-radius: 5px;
}

li {
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	list-style: none;
}
