* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-color: #f7f6e7;
	text-align: center;
}

h1, h2 {
	font-family: 'Dancing Script', cursive;
	color: #314e52;
	background-color: #e7e6e1;
	border-bottom: 5px solid #314e52;
}

h1 {
	background-color: #f7f6e7;
	color: #025955;
	border-radius: 3px;
	font-size: 30px;
	text-align: left;
	margin: 10px;
	padding: 3px;
}

a, p, input {
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
}

input {
	color: #025955;
	padding: 5px;
}

li {
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	list-style: none;
}

a {
	color: #025955;
	font-size: 18px;
	text-decoration: none;
}

a:hover, input:hover {
	text-decoration: underline;
	cursor: pointer;
}