<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/admin.css" />
    <title>Admin</title>
</head>
<body>
    
<h1>Remove Products from Database</h1>
<div>
<a href="/">Home</a>
<a href="/products/bestsellers  ">Best Sellers</a>
</div>

<div id="products">
    <div class="horizontal-display">
<ul id="horizontal-list">
    <% products.forEach ( product => { %>
    </br>
    </br>
    <li><%= product.name %> <img src='<%= product.image %>'alt="circle" width="300px" height="300px">
    </br>
        <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
			<input type="submit" value="Delete" />
		</form>
    <% }) %>
</ul>
    </div>
</div>



</body>
</html>