<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    
<h1>Where we can delete products from our database</h1>

<a href="/products/bestsellers">Best Sellers</a>

<ul>
    <% products.forEach ( product => { %>
    <li><%= product.name %> <img src='<%= product.image %>'alt="circle" width="300px" height="300px">
        <button><a>Delete</a></button>
    <% }) %>
</ul>



</body>
</html>