<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/cart.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
        
        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

        </style>
    <title>Shopping Cart</title>
</head>
<body>
    <h1>Your Shopping Cart</h1>
    <a href="/products/bestsellers">Best Sellers</a>

    <ul>
        <% products.forEach ( product => { %>
        <li><%= product.name %> <img src='<%= product.image %>'alt="circle" width="100px" height="100px">
            <form action="/products/<%= product._id %>/cart?_method=DELETE" method="POST">
                <input type="submit" value="Delete" />
            </form>
            <% }) %>
    </ul>

</body>
</html>