<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/cart.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
        
        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

        </style>
    <title>Shopping Cart</title>
</head>
<body>
    <h1>GitSumCoffee</h1>

    <h2>Your Shopping Cart</h2>

    <a href="/products/bestsellers">Best Sellers</a>
    <div>
        <img src='https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y29mZmVlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60' alt="coffee" width="250px" height="150px">
        <img src='https://images.unsplash.com/photo-1459755486867-b55449bb39ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fGNvZmZlZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60' alt="coffee" width="250px" height="150px">
        <img src='https://images.unsplash.com/photo-1500353391678-d7b57979d6d2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDV8fGNvZmZlZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60' alt="coffee" width="250px" height="150px">
        <img src='https://images.unsplash.com/photo-1497935586351-b67a49e012bf?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fGNvZmZlZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60' alt="coffee" width="250px" height="150px">
    </div>

    <ul>
        <% products.forEach ( product => { %>
        </br>

        <li><%= product.name %> <img src='<%= product.image %>'alt="circle" width="100px" height="100px"> 
       
            <form action="/products/<%= product._id %>/cart?_method=DELETE" method="POST">
                <input type="submit" value="Delete" />
            </form>

        </li>

        <% }) %>

    </ul>

</body>
</html>