<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
        
        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

        </style>
    <title>Coffee</title>
</head>
<body>
    <h1>GitSumCoffee</h1>
    <h2>Best Sellers</h2>
    </br>

<div>
    <a href="/">Home</a>
    <a href="/cart">View Cart</a>
</div>

    
    <ul>
        <% products.forEach ( product => { %>
        </br>
        </br>
        <li><%= product.name %> </br> <img src='<%= product.image %>'alt="circle" width="250px" height="250px">
        </br>
            <a href="/products/<%= product._id %>">Quick View</a></li>
            
        <% }) %>
    </ul>


</body>
</html>