<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/show.css" />
    <title>Show Coffee</title>
</head>
<body>
    <h1>View Coffee</h1>
    <a href="/products/bestsellers">Best Sellers</a>
    <h2> <%= product.name %> </h2>
    <p> <img src='<%= product.image %>'alt="circle" width="400px" height="400px"></p>
    <p> <%= product.description %> </p>
    <h3>$<%= product.price %> </h3>

    <button><a href="/products/cart">Add to cart</a></button>
</body>
</html>